@import '../../Assets/Styles/colors.scss';
.root {
  width: 30vw;
  background: $BackgroundForm;
  padding: 2rem;
  border-radius: 3px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .containerForm {
    .date {
      width: 100%;
    }
    Icon {
      color: $iconInputs;
    }
    .containerButton {
      display: flex;
      justify-content: center;
      align-items: center;
      .button {
        background-color: $Button;
      }
    }
    input {
      width: 300px;
    }
  }
}
