@import '../../Assets/Styles/colors.scss';
@import '../../Assets/Styles/mixins.scss';
.root {
  @include respond-to(800px) {
    width: 30vw;
  }
  background: $BackgroundForm;
  padding: 2rem;
  border-radius: 3px;
  margin-top: 1rem;
  @include centerContent;
  .containerForm {
    .date {
      width: 100%;
    }
    Icon {
      color: $iconInputs;
    }
    .containerButton {
      @include centerContent;
      .button {
        background-color: $Button;
      }
    }
    input {
      width: 300px;
    }
  }
}
