@import "../../../Assets/Styles/colors.scss";
.root {
  padding: 0 !important;
  background: $main !important;

  .containerLogo {
    height: 40px;
    position: absolute;
    left: 10px;
    top:10px;
  }
  span {
    color: white
  }
}
