@import '../../../Assets/Styles/colors.scss';
.root {
  padding: 0 !important;
  background: $main !important;

  .containerLogo {
    transform: scale(0.13);
    height: 5px;
    width: 10px;
    position: absolute;
    left: 10px;
    top: 5px;
  }
  span {
    color: $textHeader;
    margin-left: 2rem;
  }
  h2 {
    text-align: center;
  }
}
