body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-spin-nested-loading {
  position: relative !important;
  max-width: 80vw !important;
  width: 80vw !important;
  height: 60vh !important;
  overflow-y: scroll !important;
}
.ant-col {
  display: flex !important;
  justify-content: center;
}
